<div id="wrap" class="full_width">
    <div class="container">
        <div class="dark_background row">
            <div class="col-xs-12 text-center">
                <div class="col-xs-2 flush_right text-right">
                    <div class="row">
                        <button id="modalButton" title="Image information" type="button" class="btn transparent" ng-click="goModal()">
                            <img src="/app/img/dialog-information-3.png" />
                        </button>
                    </div>
                    <div class="row">
                        <button id="shareLinkButton" title="Share link" type="button" class="btn transparent" ng-click="goLinkModal()">
                            <img src="/app/img/insert-link.png" />
                        </button>
                    </div>
                </div>
                <img id="mainImage" class="img-responsive img-center" ng-src="{{imageQ[0].flickr.flickr_original_source}}" />
            </div>
        </div>
    </div>
</div>
<div id = "footer" class="full_width align-vert">
    <div class="container">
        <div class = "row">
            <div class="col-xs-8 col-lg-offset-2 col-lg-4 text-right">
                {{tagQ[0].questionText}}?
            </div>
            <div class="col-xs-2">
                <button class="transparent" type="button" class="btn" ng-click="sendNegative()">
                    <img src="/app/img/dialog-no-2.png" />
                </button>
            </div>
            <div class="col-xs-2">
                <button class="transparent" type="button" class="btn" ng-click="sendPositive()">
                    <img src="/app/img/dialog-apply.png" />
                </button>
            </div>
        </div>
    </div>
</div>
<div id="modal" class="modal">
    <ul>

        <li><a href="{{imageQ[0].flickr.flickr_url}}">Flickr Source</a></li>
        <li>Title: {{imageQ[0].title}}</li>
        <li>First Author: {{imageQ[0].first_author}}</li>
        <li>Date: {{imageQ[0].date}}</li>
        <li>Published in: {{imageQ[0].pubplace}}</li>
        <li>Publisher: {{imageQ[0].publisher}}</li>
    </ul>
</div>
<div id="modalLink" class="modal">
    <a href="{{getExternalLink()}}">{{getExternalLink()}}</a>
</div>