<div id="wrap" class="full_width">
    <div class="container">
        <div class="dark_background row">
            <div class="col-xs-12 text-center">
                <img class="img-responsive img-center" src="@imageMeta.flickr.flickr_original_source" />
            </div>
        </div>
    </div>
</div>
<div id = "footer" class="full_width">
    <div class="container">
        <div class = "row">
            <div class="col-xs-2">
                <button type="button" class="btn btn-danger">N</button>
            </div>
            <div class="col-xs-8">
                <a id="question" class="brand" href="/">@tag.predicate.displayPattern</a>
            </div>
            <div class="col-xs-2">
                <button type="button" class="btn btn-success">Y</button>
            </div>
        </div>
    </div>
</div>